<section class="block block--skewed-left">
  <div class="container block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, perferendis
      laudantium quas nostrum quae molestias adipisci deserunt incidunt
      voluptatem ut.
    </p>
  </div>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet labore!
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-right">
  <h2 class="block__heading">Heading</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, perferendis
    laudantium quas nostrum quae molestias adipisci deserunt incidunt voluptatem
    ut.
  </p>
</section>
