<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <span>
      <svg class="icon icon--white collapsible__chevron">
        <use xlink:href="img/sprite.svg#chevron"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
    distinctio molestiae dolores cupiditate accusamus? Accusantium asperiores
    deleniti at ex quod.
  </div>
</div>
