<header class="block__header">
  <h2>Host on the Cloud to Keep Growing</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, praesentium.
  </p>
</header>
<section class="block container">
  <article class="grid grid--1by2 feature">
    <div class="feature__content">
      <svg class="icon icon--primary">
        <use xlink:href="img/sprite.svg#wordpress"></use>
      </svg>
      <h3 class="feature__heading">Super Easy To Use</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, neque.
        Quis sequi laboriosam dicta numquam nesciunt accusantium, possimus
        corrupti labore.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/jpg" srcset="img/easy.jpg" />
      <img class="feature__image" src="img/easy.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1by2 feature">
    <div class="feature__content">
      <svg class="icon icon--primary">
        <use xlink:href="img/sprite.svg#computer"></use>
      </svg>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, neque.
        Quis sequi laboriosam dicta numquam nesciunt accusantium, possimus
        corrupti labore.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/jpg" srcset="img/fast.jpg" />
      <img class="feature__image" src="img/fast.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1by2 feature">
    <div class="feature__content">
      <svg class="icon icon--primary">
        <use xlink:href="img/sprite.svg#wordpress"></use>
      </svg>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, neque.
        Quis sequi laboriosam dicta numquam nesciunt accusantium, possimus
        corrupti labore.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/jpg" srcset="img/wordpress.jpg" />
      <img class="feature__image" src="img/wordpress.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1by2 feature">
    <div class="feature__content">
      <svg class="icon icon--primary">
        <use xlink:href="img/sprite.svg#clock"></use>
      </svg>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, neque.
        Quis sequi laboriosam dicta numquam nesciunt accusantium, possimus
        corrupti labore.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/jpg" srcset="img/support.jpg" />
      <img class="feature__image" src="img/support.jpg" alt="" />
    </picture>
  </article>
</section>
