<ul class="list list--ticks">
  <!--In BEM (Block Element Modifier) naming convention "list item" is an element, in the block "list"-->
  <li class="list__item">Item 1</li>
  <li class="list__item">Item 2</li>
  <li class="list__item">Item 3</li>
</ul>

<ul class="list list--inline">
  <!--In BEM (Block Element Modifier) naming convention "list item" is an element, in the block "list"-->
  <li class="list__item">Item 1</li>
  <li class="list__item">Item 2</li>
  <li class="list__item">Item 3</li>
</ul>
