<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos in
    quas soluta? Repudiandae odio provident minima vitae tenetur consequatur
    maxime!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="img/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Lindsay Kenny</h3>
        <p class="quote__company">CNN News</p>
      </div>
    </div>
  </footer>
</blockquote>
