<div class="card testimonial">
  <div class="grid grid--1by2">
    <div class="testimonial__image">
      <img src="img/testimonial.jpg" alt="A satisfied customer" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="img/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos in
        quas soluta? Repudiandae odio provident minima vitae tenetur consequatur
        maxime!
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="img/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Jake Jillinhall</h3>
            <p class="quote__company">CNT Company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
